// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

output "HDMI-A-1" {
    mode "1920x1080@143.997" 
    scale 1
    focus-at-startup
}

output "eDP-1" {
    // Your laptop screen is currently at 120.002
    mode "1920x1080@120.002"
    scale 1.2
    hot-corners {
        off
    }
}
