window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
}

layer-rule {
    match namespace="^noctalia-wallpaper*"
    place-within-backdrop true
}

window-rule {
    match title="Zen Browser"
    default-column-width { proportion 1.0; }
    // default-column-width { proportion 0.66667; }
}

window-rule {
    match title="Spotify"
    default-column-width { proportion 1.0; }
    // default-column-width { proportion 0.66667; }
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
    open-focused false
}

window-rule {
    match title="Extension:*Zen Browser"
    open-floating true
    baba-is-float true
    // default-column-width { proportion 0.66667; }
}

window-rule {
    match title="gemini"
    default-column-width { proportion 0.25; }
}

// window-rule {
//     match app-id=r#"^com\.gabm\.satty$"#
//     open-floating true
//     min-width 730
//     min-height 300
// }

window-rule {
    // Match the class we set in the 'wezterm start' command
    match app-id="floating_editor"

    open-floating true
    
    // Position and Size
    default-column-width { fixed 1000; }
    default-window-height { fixed 600; }
    
    // Optional: Add some transparency or remove borders for the 'pop-up' feel
    opacity 0.95
}
